name: ⚙️ Test pre-python

on:
  workflow_call:
    inputs:
      ref:
        description: Git commit reference.
        required: true
        type: string
      head-ref:
        description: Git HEAD commit reference (branch name).
        required: false
        type: string
        default: ""
      pytest-args:
        description: >
          Template parameter.
          Extra arguments to pass to pytest.
        required: true
        type: string
      python-versions:
        required: false
        type: string
        description: The JSON array of Python versions to test with.
        default: '["3.13-dev"]'
      poetry-version:
        required: false
        type: string
        description: Version of Poetry.
        default: "2.1.3"

# Don't run simultaneously on the same branch (since we may commit to that branch)
concurrency: ci-${{ inputs.head-ref && format('refs/heads/{0}', inputs.head-ref) || inputs.ref }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ${{ fromJSON(inputs.python-versions) }}
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - name: Cache dependencies
        uses: hpcflow/github-support/init-cache@0.4
        with:
          name: test
          version: ${{ matrix.python-version }}
      - name: Set up poetry
        uses: hpcflow/github-support/setup-poetry@0.4
        with:
          version: ${{ inputs.poetry-version }}

      - name: Install dependencies
        run: |
          poetry install --without dev,pyinstaller

      - name: Run tests
        run: |
          poetry run python -m pytest ${{ inputs.pytest-args }}
        env:
          PYTHONUNBUFFERED: ok
